<div class="chat">
  <div class="user">
    <strong><%= chat.username %>:</strong>
  </div>
  <div class="body">
    <%= chat.message %>
  </div>
  <div class="timestamp">
    <%= time_ago_in_words(chat.created_at) %> ago
  </div>
</div>